
body {
    background: #17181f;
    color: #e6e5e8;
    min-height: 100vh;
}
#app {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
}
.icon {
    color: #fff;
    padding-top: 5px;
}
.box {
    background-color: transparent;
    box-shadow: none;
}
.substep-container {
    background: #20212c;
    margin: 20px -0.5rem -0.5rem;
    padding: 30px;
    border-radius: 0px 0 10px 10px;
}
.step-header {
    margin: -1.25rem;
    padding: 1.25rem;
    background: #2e3c52;
    user-select: none;
    border-radius: 15px;
    cursor: pointer;
}
.stylized-checkbox {
    position: relative;
    display: inline-block;
    margin-right: 16px;
}
.stylized-checkbox label > .main-step-title-text {
    margin-left: 15px;
    display: inline-block;
}
.stylized-checkbox label > span.checkbox-display {
    background-color: #fff;
    border: 1px solid #fc76a1;
    border-radius: 7px;
    height: 22px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 22px;
}

.stylized-checkbox label > span.checkbox-display:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: '';
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 12px;
    margin-top: 3px;
}

.stylized-checkbox input[type='checkbox'] {
    visibility: hidden;
}

.stylized-checkbox
input[type='checkbox']:checked
+ label
> span.checkbox-display {
    background-color: #fc76a1;
    border-color: #fc76a1;
}

.stylized-checkbox
input[type='checkbox']:checked
+ label
> span.checkbox-display:after {
    opacity: 1;
}